{% extends "base.html" %}
{% block title %}
    Charts
{% endblock %}
{% block body %}
    <!--script src="http://www.google.com/jsapi"></script-->
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('ck.static', filename='chartkick.js') }}"></script>

    <!-- show chart list -->
    {% if charts_list %}
        <div class="panel panel-default">
        <div class="panel-heading"><b>Charts</b></div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Display</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for chart in charts_list %}
                        <tr>
                            <td>{{ chart['title'] }}</td>
                            <td>{{ chart['created'].strftime(config['DATETIME_FORMAT']) }}</td>
                            <td><a href="{{ url_for('charts', chart=chart['name']) }}" >Show chart</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        </div>
    {% endif %}

    <!-- show specified chart -->
    {% if chart_data %}
        {% if chart_data['type'] == 'pie' %}
            {% pie_chart chart_data['data'] with library={"title": {"text": chart_data['title']},
                                                          "plotOptions": {
                                                            "pie": {"showInLegend": true}
                                                          }
                                                         }
            %}
        {% elif chart_data['type'] == 'line' %}
            {% line_chart chart_data['data'] with library={"title": {"text": chart_data['title']},
                                                          "plotOptions": {
                                                            "pie": {"showInLegend": true}
                                                          }
                                                         }
            %}
        {% endif %}
    {% endif %}

{% endblock %}