{% extends "base.html" %}
{% block title %}
    Charts
{% endblock %}
{% block body %}
    <script src="{{ url_for('static', filename='js/highcharts/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highcharts/drilldown.js') }}"></script>

    <!-- show chart list -->
    {% if charts_list %}
        <div class="panel panel-default panel-primary">
            <div class="panel-heading panel-title"><b>Charts</b></div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Display</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for chart in charts_list %}
                            <tr>
                                <td>{{ chart['title'] }}</td>
                                <td>{{ chart['created'].strftime(config['DATETIME_FORMAT']) }}</td>
                                <td><a href="{{ url_for('charts', chart=chart['name']) }}" >Show chart</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    {% endif %}

    {% if chart %}
        <div id="hc_container">
            Loading...
        </div>
        <script>
                var chart;
                $(function () {
                    // Create the chart
                    chart = new Highcharts.Chart({{ chart['chart'] | safe }})
                });
        </script>
    {% endif %}

{% endblock %}