{% extends "base.html" %}
{% block title %}
    {{ _('Home') }}
{% endblock %}
{% block body %}
    <div class="jumbotron alert-info">
        <h1>PySyMo!</h1>
        <br>
        <p>{{ _('PySyMo is a web-interface for view and analyze syslog data stored in MongoDB.') }}</p>
        <p>{{ _('Supports search, filter, pagination, graphical charts.') }}</p>
        <p>{{ _('Available on') }} <a href="https://github.com/icoz/pysymo" target="_blank">GitHub</a></p>
        <p>{{ _('Version') }} - {{ config['PYSYMO_VERSION'] }}</p>
    </div>
{% endblock %}