{% extends "base.html" %}
{% block title %}
    {{ _('Register new user') }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-primary">
                <div class="panel-heading panel-title"><b>{{ _('Register new user') }}</b></div>
                <div class="panel-body">
                    <form class="form" action="{{ url_for('register') }}" method=post id="reg_form">
                        {{ reg_form.hidden_tag() }}
                        <div class="form-group">
                            {{ reg_form.username.label }}
                            {{ reg_form.username(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ reg_form.password.label }}
                            {{ reg_form.password(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ reg_form.confirm.label }}
                            {{ reg_form.confirm(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ reg_form.email.label }}
                            {{ reg_form.email(class="form-control") }}
                        </div>
                        <button type="submit" class="btn btn-default btn-primary pull-right">{{ _('Register') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
