{% extends "base.html" %}
{% block title %}
    Register new user
{% endblock %}
{% block body %}
    <h2>Registration new user</h2>
    <form class="form" action="{{ url_for('register') }}" method=post>
        <input name="username" type="text" class="input-small" placeholder="Login">
        <input name="password" type="password" class="input-small" placeholder="Password">
        <input name="email" type="text" class="input-small" placeholder="Email">
        <button type="submit" class="btn">Register</button>
    </form>
{% endblock %}
