{% extends "base.html" %}
{% block title %}
    Get info from db
{% endblock %}
{% block body %}
    <script src="{{ url_for('static', filename='js/jquery.datetimepicker.js') }}"></script>

    <div class="panel panel-default">
        <div class="panel-heading">Запрос данных</div>
        <div class="panel-body">
            <form name="searchform" class="form" action="{{ url_for('get_info2') }}" method=post>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-3">
                        {{ form.host.label }}
                        {{ form.host_ie(class="list-unstyled") }}
                        {{ form.host(size=10, class="form-control") }}
                    </div>

                    <div class="col-md-3">
                        {{ form.application.label }}
                        {{ form.application_ie(class="list-unstyled") }}
                        {{ form.application(size=10, class="form-control") }}
                    </div>

                    <div class="col-md-3">
                        {{ form.facility.label }}
                        {{ form.facility_ie(class="list-unstyled") }}
                        {{ form.facility(size=10, class="form-control") }}
                    </div>

                    <div class="col-md-3">
                        {{ form.priority.label }}
                        {{ form.priority_ie(class="list-unstyled") }}
                        {{ form.priority(size=10, class="form-control") }}
                    </div>

                </div>

                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-horizontal">
                            {{ form.date_from.label(class='col-md-1 control-label') }}
                            <div class="col-md-5">
                                {{ form.date_from(class="form-control", placeholder=config['DATETIME_FORMAT']) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-horizontal">
                            {{ form.records_per_page.label(class='col-md-3 control-label') }}
                            <div class="col-md-3">
                                {{ form.records_per_page(class="form-control") }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-horizontal">
                            {{ form.date_to.label(class='col-md-1 control-label') }}
                            <div class="col-md-5">
                                {{ form.date_to(class="form-control", placeholder=config['DATETIME_FORMAT']) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-horizontal">
                            {{ form.sort_direction.label(class='col-md-2 control-label') }}
                            <div class="col-md-4">
                                {{ form.sort_direction(class="form-control") }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    <div class="form-group form-horizontal">
                        {{ form.search_str.label(class='col-md-1 control-label') }}
                        <div class="col-md-11">
                            {{ form.search_str(class="form-control", placeholder='RegEx') }}
                        </div>
                    </div>
                </div>

                {% for error in form.priority_ie.errors %}
                    <span style="color: red;"> <br> [{{ error }}] <br> </span>
                {% endfor %}
                <br>
                <button type="submit" class="btn">Получить</button>
            </form>
        </div>
    </div>

    {% if data %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Host</th>
                <th>Date/time</th>
                <th>Application</th>
                <th>Facility</th>
                <th>Priority</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr
                        {% if 0 <= d['p'] < 4 %}
                            class="danger"
                        {% endif %}
                        {% if d['p'] == 4 %}
                            class="warning"
                        {% endif %}
                        {% if d['p'] == 5 or d['p'] == 6 %}
                            class="info"
                        {% endif %}
                        {% if d['p'] == 7 %}
                            class="success"
                        {% endif %}
                        >
                    <td>{{ d['h'] }}</td>
                    <td>{{ d['d'] }}</td>
                    <td>{{ d['a'] }}</td>
                    <td>{{ d['f'] }}</td>
                    <td>{{ config['MSG_PRIORITY_LIST'][d['p']] }}</td>
                    <td>{{ d['m'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#            <form action="{{ url_for('get_info') }}" method=post>#}
        {#            <button type="submit" class="btn">Следующие строки</button>#}
        {#            </form>#}
    {% endif %}

    {% if stat %}
        <div>
            Time elapsed - {{ stat['time_elapsed'] }} seconds
            <br>
            Records found - {{ stat['total_records'] }}
        </div>
    {% endif %}

    <script type="text/javascript">
        $('#date_from').datetimepicker(
                {
                    lang: 'ru',
                    step: 15,
                    format: 'd.m.Y H:i:s'
                }
        );
        $('#date_to').datetimepicker(
                {
                    lang: 'ru',
                    step: 15,
                    format: 'd.m.Y H:i:s'
                }
        );
    </script>
{% endblock %}
