{% extends "base.html" %}
{% block title %}
    Get info from db
{% endblock %}
{% block body %}
    <div class="hero-unit">
        <h2>GetInfo2 form</h2>

        <form class="form" action="{{ url_for('get_info2') }}" method=post>
            {{ form.hidden_tag() }}
            <div class="control-group">
                <div class="controls form-inline">
                    {{ form.hostie }}
                    {{ form.host.label }}
                    {{ form.host(size=10) }} <br/>
                    {{ form.appie }}
                    {{ form.app.label }}
                    {{ form.app(size=10) }} <br/>
                    {{ form.prio.label }}
                    {{ form.prio(size=10) }}
                    {{ form.datef.label }}
                    {{ form.datef }}
                </div>
                {% for error in form.datef.errors %}
                    <span style="color: red;"> <br> [{{ error }}] <br> </span>
                {% endfor %}
            </div>
            <button type="submit" class="btn">Получить</button>
        </form>

        {% if data %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Host</th>
                    <th>App</th>
                    <th>Date/time</th>
                    <th>Priority</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                    <tr
                            {% if 0 < d['p'] < 4 %}
                                class="error"
                            {% endif %}
                            {% if d['p'] == 4 %}
                                class="warning"
                            {% endif %}
                            {% if d['p'] == 5 or d['p'] == 6 %}
                                class="info"
                            {% endif %}
                            {% if d['p'] == 7 %}
                                class="success"
                            {% endif %}
                            >
                        <td>{{ d['h'] }}</td>
                        <td>{{ d['a'] }}</td>
                        <td>{{ d['d'] }}</td>
                        <td>{{ ('emerg', 'alert', 'crit', 'err', 'warn', 'notice', 'info', 'debug')[d['p']] }}</td>
                        <td>{{ d['m'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#            <form action="{{ url_for('get_info') }}" method=post>#}
            {#            <button type="submit" class="btn">Следующие строки</button>#}
            {#            </form>#}
        {% endif %}
    </div>
{% endblock %}
