{% extends "base.html" %}
{% block title %}
    {{ _('DB stat') }}
{% endblock %}

{% block body %}
    <div class="panel-group" id="accordion">
        {% if db_stat %}
            <div class="panel panel-default panel-primary">
                <div class="panel-heading panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                        <b>{{ _('DB') }}</b>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Value') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in db_stat %}
                                <tr>
                                    <td>{{ i[0] }}</td>
                                    <td>{{ i[1] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        {% endif %}

        {% if mes_stat %}
            <div class="panel panel-default panel-primary">
                <div class="panel-heading panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="collapsed">
                        <b>{{ _('Messages') }}</b>
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{{ _('Name') }}</th>
                                <th>{{ _('Value') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in mes_stat %}
                                <tr>
                                    <td>{{ i[0] }}</td>
                                    <td>{{ i[1]}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}