{% extends "base.html" %}
{% block title %}
    Stat
{% endblock %}

{% block body %}
    {% if db_stat %}
        <div class="panel panel-default">
        <div class="panel-heading"><b>DB stat</b></div>
            <div class="panel-body">

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in db_stat %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ db_stat[key]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}

    {% if mes_stat %}
        <div class="panel panel-default">
        <div class="panel-heading"><b>Messages stat</b></div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in mes_stat %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ mes_stat[key]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}